<form class="form-registration" #reviewerForm="ngForm" (ngSubmit)="onSubmit(reviewerForm.value, reviewerForm)">
    <div *ngFor="let field of formFields" class="container">   
    <label for={{field.id}}>{{field.label}}</label>
    <input type="text" name={{field.id}} ngModel *ngIf="field.type.name=='long'" >      
  </div>
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit" />
  <!--   <button type="submit" class="btn btn-primary btn-block"> Register </button> -->
  
  
  </form>
