<form #scientificFields="ngForm" (ngSubmit)="onSubmit(scientificFields.value, scientificFields)">
    <div class="container">   
        <select name="scientificFiled" [(ngModel)]="scientificFiled">
            <option *ngFor="let val of enumValues" [value]="val.name">
                {{val.name}}
            </option>
          </select>
  </div>
  <input type="submit" class="registerbtn" value="Add scientific field" />
  <!--   <button type="submit" class="btn btn-primary btn-block"> Register </button> -->
  
  </form>